@import "./reset.css";

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --text-large: 54px;

  --color-white: #fff;
  --color-gray: #777;
  --color-pink: #E55E70;
}

.btn {
  background-color: var(--color-pink);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
