@import "./reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}


:root {
  --text-large: 54px;
  --text-medium: 24px;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #777;
  --color-pink: #E55E70;
  --color-dark-pink: #D24D62;
}

.btn {
  background-color: var(--color-pink);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-dark-pink);
}
