@import "./reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  --text-large: 36px;
  --text-medium: 18px;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #777;
  --color-pink: #E55E70;
  --color-dark-pink: #D24D62;

  --gap-header: 80px;
}

.btn {
  background-color: var(--color-pink);
  color: var(--color-white);
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-dark-pink);
}

.header {
  position: fixed;
  top: 0;
  padding: 5px 10px 10px;
  background-color: var(--color-white);
  width: 100%;
}

.header-icon {
  width: 150px;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-black);
}
