@import '/common/styles/global.css';

.container {
  margin: var(--gap-header) 20px;
}

.title {
  font-size: var(--text-large);
  font-weight: bold;
}

.description {
  margin-bottom: 20px;
  font-size: var(--text-medium);
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.tab.active {
  color: var(--color-pink);
}

.tab:hover {
  color: var(--color-pink);
}

.movie-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

.empty {
  display: flex;
  justify-content: center;
  font-size: var(--text-medium);
  font-weight: bold;
  margin-top: 164px;
}

.movie-link {
  color: var(--color-black);
  text-decoration: none;
  outline: none;
}

.movie-link:hover,
.movie-link:active {
  text-decoration: none;
}

.poster {
  width: 200px;
  border-radius: 4px;
}

.movie-title {
  display: block;
}
