@import '/common/styles/global.css';

.detail-container {
  margin: var(--gap-header) 0;
}

.movie-title {
  text-align: center;
  margin-top: 20px;
  font-size: var(--text-large);
  font-weight: bold;
}

.diary-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  border-radius: 8px;
}

.poster {
  max-width: 200px;
  margin-right: 20px;
}

.diary-detail {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  min-width: 300px;
}

.content-container {
  flex-direction: column;
  gap: 10px;
}


.diary-detail-label {
  font-weight: bold;
}

.release-date,
.rating,
.created-at,
.evaluation {
  font-weight: bold;
}

.content {
  color: var(--color-gray);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.delete-dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
}
